.event {
	padding: 10px 0px;
	display: flex;
    align-items: center;
    height: 52px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #193b52;
}

.dateContainer {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.participantsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 13px;
}

.league {
    font-weight: 500;
    font-size: 10px;
    color: #a3b8c2;
}

.participants{
    font-weight: 600;
    font-size: 15px;
    color: #193b52;
}